<doctype HTML>
<html>
  <head>
    <title>ACT 15</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/milligram.min.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body class="container">
    <h1>Suspended processes</h1>
    <div class="divisor"></div>

    <div id="app">
      <div class="row">
        <div class="column">
          <h3>Time elapsed: {{ fixedTime }}</h3>
        </div>
        <div class="column" v-if="canUseInput">
          <label v-if="!numberError">Add processes</label>
          <label style="color: red" v-if="numberError">{{ numberError }}</label>
          <input type="number" min="1" v-model.number="initialNum"/>
        </div>
        <div class="column" v-if="canUseInput">
          <button class="button" v-on:click="addInitialProcesses">
            Add
          </button>
        </div>
        <div class="column" v-if="canUseInput">
          <label v-if="!quantumError">Quantum</label>
          <label style="color: red" v-if="quantumError">{{ quantumError }}</label>
          <input type="number" min="1" v-model.number="quantum" placeholder="quantum"/>
        </div>
        <div class="column" v-if="!canUseInput">
          <h3>Quantum: {{ quantum }}</h3>
        </div>
        <div class="column">
          <button class="button" v-on:click="toggleSimulation">
            {{ toggleText }}
          </button>
        </div>
        <div class="column" v-if="!canUseInput">
          <button class="button" v-on:click="restartSimulation">
            Reset
          </button>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h5>New processes <b>({{ newP.length }})</b></h5>
          <processes-list
            :processes="newP"
            :columns="['id', 'size', 'maxTime', 'op']"
            :quantum="quantum"
          ></processes-list>
        </div>
        <div class="column column-50">
          <h5>Memory <b>({{ processesInMemory.length }})</b></h5>
          <memory
            :memory="memory"
            :processes="processesInMemory"
          ></memory>
        </div>
        <div class="column">
          <div class="row">
            <h5>Bloqued processes <b>({{ bloquedP.length }})</b></h5>
          </div>
          <div class="row">
            <processes-list
              :processes="bloquedP"
              :columns="['id', 'size', 'bloquedT']"
              :quantum="quantum"
            ></processes-list>
          </div>
          <div class="row">
            <h5>
              Suspended <b>({{ totalSuspended }}). </b> Restored <b>({{ restoredP.length }})</b>
            </h5>
          </div>
          <div class="row">
            <processes-list
              :processes="restoredP"
              :columns="['id', 'size', 'maxTime', 'remainingT']"
              :quantum="quantum"
            ></processes-list>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h5>Ready processes <b>({{ readyP.length }})</b></h5>
          <processes-list
            :processes="readyP"
            :columns="['id', 'size', 'remainingT', 'progress']"
            :quantum="quantum"
          ></processes-list>
        </div>
        <div class="column">
          <h5>Running processes <b>({{ runningP.length }})</b></h5>
          <processes-list
            :processes="runningP"
            :columns="['id', 'size', 'remainingT', 'opA', 'op', 'opB', 'progress']"
            :quantum="quantum"
          ></processes-list>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h5>Finished processes <b>({{ finishedP.length }})</b></h5>
          <processes-list
            :processes="finishedP"
            :columns="['id', 'arrivalT', 'finishT', 'returnT', 'entryT', 'waitingT', 'maxTime',
            'elapsedT', 'remainingT', 'opA', 'op', 'opB', 'result']"
            :quantum="quantum"
          ></processes-list>
        </div>
      </div>
      
      <modal v-if="showProcessModal">
        <h3 slot="header">Process list</h3>
        <div slot="body">
          <div class="row">
            <div class="column">
              <h5>
                Suspended <b>({{ totalSuspended }}). </b> Restored <b>({{ restoredP.length }})</b>
              </h5>
              <processes-list
              :processes="restoredP"
              :columns="['id', 'size', 'maxTime', 'remainingT']"
              :quantum="quantum"
              ></processes-list>
            </div>
            <div class="column">
              <h5>New processes <b>({{ newP.length }})</b></h5>
              <processes-list
                :processes="newP"
                :columns="['id', 'size', 'maxTime', 'op']"
                :quantum="quantum"
              ></processes-list>
            </div>
            <div class="column">
              <h5>Bloqued processes <b>({{ bloquedP.length }})</b></h5>
              <processes-list
                :processes="bloquedP"
                :columns="['id', 'size', 'bloquedT']"
                :quantum="quantum"
              ></processes-list>
            </div>
          </div>
          <div class="row">
            <div class="column column-40">
              <h5>Ready processes <b>({{ readyP.length }})</b></h5>
              <processes-list
                :processes="readyP"
                :columns="['id', 'size', 'maxTime', 'remainingT']"
                :quantum="quantum"
              ></processes-list>
            </div>
            <div class="column">
              <h5>Running processes <b>({{ runningP.length }})</b></h5>
              <processes-list
                :processes="runningP"
                :columns="['id', 'size', 'maxTime', 'elapsedT', 'remainingT', 'opA', 'op', 'opB']"
                :quantum="quantum"
              ></processes-list>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <h5>Finished processes <b>({{ finishedP.length }})</b></h5>
              <processes-list
                :processes="finishedP"
                :columns="['id', 'arrivalT', 'finishT', 'returnT', 'entryT', 'waitingT', 'maxTime',
                'elapsedT', 'remainingT', 'opA', 'op', 'opB', 'result']"
                :quantum="quantum"
              ></processes-list>
            </div>
          </div>
        </div>
      </modal>
      
      <modal v-if="showMemoryModal">
        <h3 slot="header">Memory <b>({{ processesInMemory.length }})</b></h3>
        <div slot="body">
          <div class="row">
            <div class="column">
              <memory
                :memory="memory"
                :processes="processesInMemory"
              ></memory>
            </div>
          </div>
        </div>
      </modal>
    </div>

    <script src="/vendor/vue.js"></script>
    <script src="/vendor/keypress.js"></script>
    <script src="/vendor/modal.js"></script>
    <script src="/util.js"></script>
    <script src="/processesList.js"></script>
    <script src="/memory.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
