<doctype HTML>
<html>
  <head>
    <title>ACT 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/milligram.min.css">
  </head>
  <body class="container">
    <style>
      td {
        padding: 0.1rem 1.5rem;
      }
      th {
        padding: 0.1rem 1.5rem;
      }
    </style>
    <h1>Batch processing</h1>
    
    <div id="app">
      <div class="row">
        <div class="column">
          <new-process-form 
            :batches="batches" 
            v-on:add-process="handleAddProcess"
          ></new-process-form>
        </div>
        <div class="column">
          <h3>Enqueued batches</h3>
          <div v-for="(val, key) in batches">
            <h6>Batch {{ key + 1 }}</h6>
            <processes-list
              :processes="val"
              :is-finished="false"
              v-on:delete-process="handleDeleteProcess"
            ></processes-list>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h5>Time elapsed: {{ fixedTime }}</h5>
        </div>
        <div class="column">
          <h5>Pending batches: {{ pendingBatches }}</h5>
        </div>
        <div class="column">
          <button class="button" v-on:click="toggleSimulation">
            {{ toggleText }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3>Running batch</h3>
          <running-batch
            :processes="runningBatch"
          ></running-batch>
        </div>
        <div class="column">
          <h3>Running process</h3>
          <running-process
            :process="runningProcess"
          ></running-process>
        </div>
        <div class="column">
          <h3>Completed processes</h3>
          <div v-for="(val, key) in completedProcesses">
            <h6>Batch {{ key + 1 }}</h6>
            <processes-list
              :processes="val"
              :is-finished="true"
            ></processes-list>
          </div>
        </div>
      </div>
    </div>

    <script src="/vue.js"></script>
    <script src="/newProcessForm.js"></script>
    <script src="/processesList.js"></script>
    <script src="/runningBatch.js"></script>
    <script src="/runningProcess.js"></script>
    <script src="/index.js"></script>
  </body>
</html>



















