<doctype HTML>
<html>
  <head>
    <title>ACT 6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/milligram.min.css">
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body class="container">
    <h1>FIFO processing</h1>
    <div class="divisor"></div>

    <div id="app">
      <div class="row">
        <div class="column">
          <h3>Time elapsed: {{ fixedTime }}</h3>
        </div>
        <div class="column" v-if="canUseInput">
          <label style="color: red" v-if="error">{{ error }}</label>
          <input type="number" min="1" v-model.number="initialNum"/>
        </div>
        <div class="column" v-if="canUseInput">
          <button class="button" v-on:click="addInitialProcesses">
            Add
          </button>
        </div>
        <div class="column">
          <button class="button" v-on:click="toggleSimulation">
            {{ toggleText }}
          </button>
        </div>
        <div class="column">
          <button class="button" v-on:click="restartSimulation">
            Reset
          </button>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h5>New processes <b>({{ newP.length }})</b></h5>
          <processes-list
            :processes="newP"
            :columns="['id', 'maxTime', 'op']"
          ></processes-list>
        </div>
        <div class="column">
          <h5>Bloqued processes <b>({{ bloquedP.length }})</b></h5>
          <processes-list
            :processes="bloquedP"
            :columns="['id', 'bloquedTime']"
          ></processes-list>
        </div>
        <div class="column">
          <h5>Ready processes <b>({{ readyP.length }})</b></h5>
          <processes-list
            :processes="readyP"
            :columns="['id', 'maxTime', 'remainingTime']"
          ></processes-list>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h5>Running processes <b>({{ runningP.length }})</b></h5>
          <processes-list
            :processes="runningP"
            :columns="['id', 'maxTime', 'elapsedTime', 'remainingTime', 'opA', 'op', 'opB']"
          ></processes-list>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h5>Finished processes <b>({{ finishedP.length }})</b></h5>
          <processes-list
            :processes="finishedP"
            :columns="['id', 'arrivalTime', 'finishTime', 'returnTime', 'entryTime', 'waitingTime', 'maxTime', 'elapsedTime', 'remainingTime', 'opA', 'op', 'opB', 'result']"
          ></processes-list>
        </div>
      </div>
    </div>

    <script src="/vendor/vue.js"></script>
    <script src="/vendor/keypress.js"></script>
    <script src="/util.js"></script>
    <script src="/processesList.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
