td {
  padding: 0.1rem 1.5rem;
}
th {
  padding: 0.1rem 1.5rem;
}
.divisor {
  border-top: 0.1rem solid #e1e1e1;
  margin: 0 0 2rem 0;
}
h5 {
  color: #42b983;
}
.progressbar {
  color: #606c76;
  border: 1px solid #e1e1e1;
  text-align: center;
  height: 100%;
}
.progressbar > div:before {
  content: attr(data-label);
  margin: 0 2px;
}
.progressbar > div {
  background-color: #9b4dca;
  height: 100%;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  max-height: 150px;
  margin-bottom: 20px;
}
.wrap {
  flex-wrap: wrap;
}
.col {
  flex-direction: column;
}
.flex-item {
  background: transparent;
  border: 1px solid #606c76;
  height: 16px;
  margin: 1px 5px;

  line-height: 14px;
  font-weight: bold;
  font-size: 14px;
}
.modal-body .flex-item {
  height: 22px;
  line-height: 20px;
  font-size: 20px;;
}
.frame-number {
  border-right: 1px solid #606c76;
}
.frame-block {
  flex: 1;
  text-align: center;
  margin: 1px;
}